{% extends 'base.html' %}

{% block title %}cse 8th semester{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1600x400/?About,website" class="d-block w-100 my-4" alt="...">
    
</div>

<div class="container my-3 bg-light">
<h1 class="text-center">Subjects 8th semester</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cloud computing.jpg" class="d-block w-100" alt="..." height=400 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Cloud Computing</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/data-warehouse.jpg" class="d-block w-100" alt="..." height=350 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Management Information System</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/ics.png" class="d-block w-100" alt="..." height=400 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Information and Cyber Security</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/Web-Development.jpg" class="d-block w-100" alt="..." height=400 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Distributed Operating System</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/software testing.jpg" class="d-block w-100" alt="..." height=495 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Software Testing</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cloud computing.jpg" class="d-block w-100" alt="..." height=445 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Cloud Computing Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper </strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> Previous </strong></a>
  <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong>Next</strong> </a>
</div>


<div>
    <li><hr class="dropdown-divider"></li>
</div>
<div class="container text-center bg-light ">
<h1 class="my-2 text-center bg-primary text-light"> About Us</h1>
    <div class="contactInfo ">
        <div class="box">
            <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="text">
                <h2>Address</h2>
                <p>Julana,Jind,Pincode-126114,Haryana</p>
            </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
            <div class="text">
                <h2>Phone</h2>
                <p>+918053182967</p>
            </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
            <div class="text">
                <h2>Email</h2>
                <p>ankitbadgujar78@gmail.com</p>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-light position-relative fixed-bottom">
    <p class="text-center py-2 my-0">
        Copyright &copy; 2022 - All rights reserved
    </p>
</footer>
{% endblock body %}
