{% extends 'base.html' %}

{% block title %}cse 1st semester{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1600x400/?About,website" class="d-block w-100 my-4" alt="...">
    
</div>

<div class="container my-3 bg-secondary">
<h1 class="text-center">CSE 1st semester</h1>
  <div class="container-fluid text-center ">
    <a href="cse7thsemque" class="btn btn-outline-next btn-danger " role="button"><h5> Syllabus of 1st semester </h5></a>
    <a href="cse2ndsem" class="btn btn-outline-next btn-light " role="button"><strong>Next</strong> </a>
  </div>
  <div>
    <li><hr class="dropdown-divider bg-success"></li>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">           
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/os.jpg" class="d-block w-100" alt="..." height=303 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Principles of Operating System</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/OIP.jpg" class="d-block w-100" alt="..." height=350 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Microprocessor & Interfacing </h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/high-speed-internet.jpg" class="d-block w-100" alt="..." height=300 width=100>
        <div class="card-body">
          <p class="card-text"><h1>High Speed Networks Technologies</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/.net.jpg" class="d-block w-100" alt="..." height=300 width=100>
        <div class="card-body">
          <p class="card-text"><h1>.Net Technologies</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/Web-Development.jpg" class="d-block w-100" alt="..." height=300 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Web Development</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/OS.png" class="d-block w-100" alt="..." height=347 width=100>
        <div class="card-body">
          <p class="card-text"><h1>OS Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/mda8086.jpg" class="d-block w-100" alt="..." height=270 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Microprocessor & Interfacing Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper </strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/download.jpg" class="d-block w-100" alt="..." height=365 width=100>
        <div class="card-body">
          <p class="card-text"><h1>.Net Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper </strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 5th sem/Web-Development.jpg" class="d-block w-100" alt="..." height=270 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Web Development Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="it1stsem" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper </strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <li><hr class="dropdown-divider bg-success"></li>
  </div>
</div>

<div class="container-fluid text-center">
  <a href="cse2ndsem" class="btn btn-outline-next btn-light " role="button"><strong>Next</strong> </a>
</div>


<div>
    <li><hr class="dropdown-divider bg-success"></li>
</div>
<footer class="site-footer bg-success">

	<div class="container">
			<!--Footer Widgets-->			
	<div class="row footer-sidebar">
			   
	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="text-1" class="widget widget_text wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Quick contact info</h4>			
      <div class="textwidget">
        <p>
          <font style="vertical-align: inherit;"></font>
          <font style="vertical-align: inherit;"></font>
          <font style="vertical-align: inherit;"></font>
        </p>
		    <address>
        <i class="fa fa-map-marker"></i>India<br>
		    <i class="fa fa-envelope-o"></i><a href="mailto:ankitbadgujar78@gmail.com">ankitbadgujar78@gmail.com</a><br>
		    <i class="fa fa-phone"></i><a href="+91 8053182967">+91 8053182967</a>
        </address>
	    </div>
		</aside>	
  </div>		

	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="categories-1" class="widget widget_categories wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Categories</h4>
			<ul>
				<li class="cat-item-none">No categories</li>			
      </ul>
		</aside>	
  </div>	

	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="archives-1" class="widget widget_archive wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Archives</h4>
			<ul>
			</ul>

		</aside>	
  </div>	


	</div>
	</div>
		<!--/Footer Widgets-->
			
		

    		<!--Site Info copyright-->
		<div class="site-info text-center">
			Copyright © 2021 | Powered by <a href="//herokuapp.com/">e-learning.com</a>				
		</div>
		<!--/Site Info copyright-->			
		
			
	</footer>
{% endblock body %}
