{% extends 'base.html' %}

{% block title %}cse 6th semester{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1600x400/?About,website" class="d-block w-100 my-4" alt="...">
    
</div>

<div class="container my-3 bg-secondary">
<h1 class="text-center">CSE 6th semester</h1>
  <div class="container-fluid text-center ">
    <a href="cse6thsemque" class="btn btn-outline-next btn-danger " role="button"><h5> Syllabus of 6th semester </h5></a>
    <a href="cse5thsem" class="btn btn-outline-next btn-light " role="button"><strong> Previous </strong></a>
  <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong>Next</strong> </a>
  </div>
  <div>
    <li><hr class="dropdown-divider bg-success"></li>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">           
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/Computer-Graphics.jpg" class="d-block w-100" alt="..." height=303 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Computer Graphics</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="cgque" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/Android-Programming.jpg" class="d-block w-100" alt="..." height=300 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Android Programming</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="apque" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/ADA.png" class="d-block w-100" alt="..." height=250 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Analysis & Design of Algorithms</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="adaque" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/pjimage (2).jpg" class="d-block w-100" alt="..." height=250 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Theory of Automata & Computation</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="tocque" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/ARTIFICIAL-INTELLIGENCE.jpeg" class="d-block w-100" alt="..." height=300 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Intelligent System </h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="isque" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/R8ea215f8224e6b5af0cab2a8c7946445.jpg" class="d-block w-100" alt="..." height=300 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Computer Graphics Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="cgls" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper</strong> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <li><hr class="dropdown-divider bg-success"></li>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">           
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/Artificial-Intelligence-AI-for-Investing.png" class="d-block w-100" alt="..." height=247 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Intelligent System Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="isls" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper </strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/Andriod.jpg" class="d-block w-100" alt="..." height=290 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Android Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="apls" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper </strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/cse/cse 6th sem/python.png" class="d-block w-100" alt="..." height=290 width=100>
        <div class="card-body">
          <p class="card-text"><h1>Python Lab</h1></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="container-fluid ">
              <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong> view </strong></a>
              <a href="pythonls" class="btn btn-outline-next btn-light " role="button"><strong> Question Paper </strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <li><hr class="dropdown-divider bg-success"></li>
  </div>
</div>

<div class="container-fluid text-center">
  <a href="cse5thsem" class="btn btn-outline-next btn-light " role="button"><strong> Previous </strong></a>
  <a href="cse7thsem" class="btn btn-outline-next btn-light " role="button"><strong>Next</strong> </a>
</div>



<footer class="site-footer bg-danger">

	<div class="container">
			<!--Footer Widgets-->			
	<div class="row footer-sidebar">
			   
	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="text-1" class="widget widget_text wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Quick contact info</h4>			
      <div class="textwidget">
        <p>
          <font style="vertical-align: inherit;"></font>
          <font style="vertical-align: inherit;"></font>
          <font style="vertical-align: inherit;"></font>
        </p>
		    <address>
        <i class="fa fa-map-marker"></i>India<br>
		    <i class="fa fa-envelope-o"></i><a href="mailto:ankitbadgujar78@gmail.com">ankitbadgujar78@gmail.com</a><br>
		    <i class="fa fa-phone"></i><a href="+91 8053182967">+91 8053182967</a>
        </address>
	    </div>
		</aside>	
  </div>		

	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="categories-1" class="widget widget_categories wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Categories</h4>
			<ul>
				<li class="cat-item-none">No categories</li>			
      </ul>
		</aside>	
  </div>	

	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="archives-1" class="widget widget_archive wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Archives</h4>
			<ul>
			</ul>

		</aside>	
  </div>	


	</div>
	</div>
		<!--/Footer Widgets-->
			
		

    		<!--Site Info copyright-->
		<div class="site-info text-center">
			Copyright © 2021 | Powered by <a href="//herokuapp.com/">e-learning.com</a>				
		</div>
		<!--/Site Info copyright-->			
		
			
	</footer>
{% endblock body %}
