{% extends 'base.html' %}

{% block title %}TOC question paper{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1600x400/?About,website" class="d-block w-100 my-4" alt="...">
    
</div>

<div class="container my-3 bg-light">
<h1 class="text-center">Question Paper</h1>
<div>
    <li><hr class="dropdown-divider"></li>
</div>
<h1 class="text-center">Theory of Automata & Computation</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="\static\cse\Question paper\DE\de 1.jpg" class="d-block w-100" alt="..." height=500 width=100>
        <div class="card-body">
          <p class="card-text text-center">page 1</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="\static\cse\Question paper\DE\de 2.jpg" class="d-block w-100" alt="..." height=500 width=100>
        <div class="card-body">
          <p class="card-text text-center">page 2</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="\static\cse\Question paper\DE\de 3.jpg" class="d-block w-100" alt="..." height=500 width=100>
        <div class="card-body">
          <p class="card-text text-center">page 3</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <li><hr class="dropdown-divider"></li>
  </div>
</div>




<footer class="site-footer bg-danger">

	<div class="container">
			<!--Footer Widgets-->			
	<div class="row footer-sidebar">
			   
	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="text-1" class="widget widget_text wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Quick contact info</h4>			
      <div class="textwidget">
        <p>
          <font style="vertical-align: inherit;"></font>
          <font style="vertical-align: inherit;"></font>
          <font style="vertical-align: inherit;"></font>
        </p>
		    <address>
        <i class="fa fa-map-marker"></i>India<br>
		    <i class="fa fa-envelope-o"></i><a href="mailto:ankitbadgujar78@gmail.com">ankitbadgujar78@gmail.com</a><br>
		    <i class="fa fa-phone"></i><a href="+91 8053182967">+91 8053182967</a>
        </address>
	    </div>
		</aside>	
  </div>		

	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="categories-1" class="widget widget_categories wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Categories</h4>
			<ul>
				<li class="cat-item-none">No categories</li>			
      </ul>
		</aside>	
  </div>	

	<div class="col-lg-3 col-md-6 col-sm-12">
		<aside id="archives-1" class="widget widget_archive wow animate fadeInUp" data-wow-delay=".3s"><h4 class="widget-title">Archives</h4>
			<ul>
			</ul>

		</aside>	
  </div>	


	</div>
	</div>
		<!--/Footer Widgets-->
			
		

    		<!--Site Info copyright-->
		<div class="site-info text-center">
			Copyright © 2021 | Powered by <a href="//herokuapp.com/">e-learning.com</a>				
		</div>
		<!--/Site Info copyright-->			
		
			
	</footer>
{% endblock body %}
